@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to top, #df6f0e, #f7d0b3e5);
}

h1 {
    text-align: center;
    font-size: 3em;
}

.s01 {
    position: absolute;
    top: 50%;
    left: 34%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 500px;
    background-color: aqua;

}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    height: 600px;
    width: 500px;

}

.flipper {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.front,
.back {
    position: absolute;
    backface-visibility: hidden;
    top: 0;
    left: 0;

}

.front {
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

.flip-container {
    position: absolute;
    top: 19%;
    left: 50%;
}

.box {
    height: 600px;
    width: 500px;
    cursor: pointer;
}

.box-front {
    background-color: rgb(89, 10, 92);
}

.box-back {
    background-color: rgb(199, 44, 24);
}