@charset "utf-8";

@font-face {
  font-family: "Beach";
  src: url("../fontes/SouthernBeach.otf");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100%;
  /*background: linear-gradient(90deg, #E25822 0%, #c67700cb 100%);*/
  /*background: linear-gradient(90deg, #f28444 0%, #6b17bf 100%);*/
  background: #d8d7d6;
}

.prod {
  margin-top: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 1em;
}

section.corpo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo {
  margin-left: 6px;
  margin-top: 80px;
  width: 150px;
  height: 70px;
}

header table {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: right;
  background: #df6f0e;
  height: 55px;
  width: 100%;
  margin-top: -10px;
}

header table tr {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
  font-size: small;
  font-weight: bold;
}

#central {
  width: 250px;
}
#rede1,
#rede2,
#rede3 {
  width: ;
}
table tr td {
  width: 200px;
}

#user {
  width: 20px;
  height: 20px;
  margin-top: 5px;
}

nav ul {
  text-align: right;
  margin-right: 10px;
  margin-top: -95px;
  color: #881df2;
}

nav ul li {
  display: inline-block;
  padding: 10px;
  margin-left: 5px;
  width: 70px;
  text-align: right;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.7em;
  cursor: pointer;
  color: #881df2;
}

nav ul li:hover {
  color: #fff;
  transition: 0.6s;
}
nav ul li a {
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: none;
  color: #fff;
  transition: 0.6s;
}
.containerform {
  background-color: #df6f0e;
  box-shadow: 5px 5px 20px #a9a9ac;
  height: 480px;
  width: 100%;
  margin-top: -85px;
}

.formviagem {
  padding: 10px;
  display: inline-block;
  margin-left: 5px;
  color: #fff;
}
#titulopacote {
  margin-top: 90px;
  font-family: "Beach";
  font-size: 2.2em;
  color: #881df2;
  text-align: center;
}

.destino,
.data,
.origem,
#data {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1em;
  display: inline-block;
  padding: 5px;
  width: 350px;
  border-color: rgba(0, 0, 0, 0.199);
  padding: 10px;
  border-radius: 10px;
}

.formviagem p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 0.7em;
  margin-top: 10px;
}

.botaoform {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.3em;
  background-color: #f28444;
  font-weight: bold;
  padding: 15px;
  width: 150px;
  border-radius: 10px;
  margin-top: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
  border-color: transparent;
  cursor: pointer;
}
.botaoform:hover {
  background-color: #881df2;
  color: #fff;
  transition: all 0.4s ease-in;
}

header {
  width: 100%;
  position: absolute;
  margin-top: 10px;
}

header h1 {
  font-family: "Beach";
  text-align: center;
  font-size: 2.2em;
  color: #df7e0f;
  /*color: #881df2;*/
}

h2 {
  font-family: "Beach";
  text-align: center;
  font-size: 1.5em;
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  margin-top: 19%;
  height: 400px;
  width: 330px;
  background-color: transparent;

  transition: width 0.4s, height 0.4s;
  transition-timing-function: ease;
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.front,
.back {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.box {
  height: 400px;
  width: 330px;
  cursor: pointer;
  border-radius: 20px;
}

.box-front {
  background-color: rgba(255, 255, 255, 0.404);
}
.imgbox {
  background: black url("../imagens/bonito.jpg") center center no-repeat fixed;
  background-size: cover;
  height: 120px;
  border-radius: 20px 20px 0px 0px;
}
.box-front h1 {
  font-size: 1em;
  margin-top: 10px;
  font-family: "Beach";
  text-align: center;
}
.box-front h2 {
  font-family: "Beach";
  text-align: center;
  font-size: 1em;
}
.box-front p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  padding: 10px;
  font-size: 0.7em;
}
.box-front a {
  text-decoration: none;
  color: black;
}
.box-front .taxas {
  font-size: 0.6em;
  margin-top: -10px;
}
.box-front .valor {
  text-align: center;
  font-size: 0.7em;
  font-weight: bolder;
  margin-bottom: -30px;
}
.box-front .preco {
  text-align: center;
  font-size: 0.8em;
}

.box-front .obs {
  font-family: "Beach";
  text-align: center;
  font-size: 0.8em;
  margin-top: -15px;
}

.box-back {
  background: black url("../imagens/bonito.jpg") center center no-repeat fixed;
  background-size: cover;
  text-align: center;
}

.botao {
  background: #f28444;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 20px;
  margin-top: 300px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
  border-color: transparent;
  text-align: center;
  cursor: pointer;
}
.botao:hover {
  background-color: #881df2;
  color: #fff;
  transition: all 0.4s ease-in;
}

/*Segundo pacote*/

.flip-container2:hover .flipper2,
.flip-container2.hover .flipper2 {
  transform: rotateY(180deg);
}

.flip-container2 {
  height: 385px;
  width: 330px;
  background-color: transparent;
}

.flipper2 {
  top: 7%;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.box-back2 {
  background: black url("../imagens/praia.jpg") center center no-repeat fixed;
  background-size: cover;
  text-align: center;
}

.imgbox2 {
  background: black url("../imagens/praia.jpg") center center no-repeat fixed;
  background-size: cover;
  height: 120px;
  border-radius: 20px 20px 0px 0px;
}

/*Terceiro pacote*/

.flip-container3:hover .flipper3,
.flip-container3.hover .flipper3 {
  transform: rotateY(180deg);
}

.flip-container3 {
  height: 385px;
  width: 330px;
  background-color: transparent;
}

.flipper3 {
  top: 17%;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.box-back3 {
  background: black url("../imagens/nova.jpg") center center no-repeat fixed;
  background-size: cover;
  text-align: center;
}

.imgbox3 {
  background: black url("../imagens/nova.jpg") center center no-repeat fixed;
  background-size: cover;
  height: 120px;
  border-radius: 20px 20px 0px 0px;
}

/*Quarto pacote*/

.flip-container4:hover .flipper4,
.flip-container4.hover .flipper4 {
  transform: rotateY(180deg);
}

.flip-container4 {
  height: 385px;
  width: 330px;
  background-color: transparent;
}

.flipper4 {
  top: 26%;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.box-back4 {
  background: black url("../imagens/roma.jpg") center center no-repeat fixed;
  background-size: cover;
  text-align: center;
}

.imgbox4 {
  background: black url("../imagens/roma.jpg") center center no-repeat fixed;
  background-size: cover;
  height: 120px;
  border-radius: 20px 20px 0px 0px;
}

.botaoreserva {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.botao1 {
  min-width: 300px;
  min-height: 60px;
  margin-top: 190px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: black;
  background: #f28444;
  background: linear-gradient(90deg, #f28444, 0%, #f28444 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 5px 5px 8px #f35e07c5;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.botao1:hover,
.botao1:focus {
  color: #242425;
  transform: translateY(-6px);
}

.fundo {
  background: black url("../imagens/fundo2.jpg") center center no-repeat fixed;
  background-size: cover;
  height: 500px;
  margin-top: 30px;
}
.rodape {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  margin-top: 10px;
}

footer a {
  text-decoration: none;
  color: black;
}
footer a:hover {
  text-decoration: underline;
}

footer .cred {
  margin-top: 10px;
  font-size: 0.6em;
}
