@charset "utf-8";

@media screen and (min-width: 414px) and (max-width: 768px) {

  header table {
    visibility: hidden;
  }

  .formviagem {
    display: block;
  }

  input.origem,
  .destino,
  .data {
    display: inline-block;
  }

  .origem,
  .destino,
  #data {
    width: 350px;
  }

  .flip-container,
  .front,
  .back,
  .flip-container2,
  .flip-container3,
  .flip-container4,
  .flip-container5,
  .flip-container6,
  .flip-container7,
  .flip-container8,
  .box {
    margin-top: 10%;
    height: 500px;
    width: 400px;
  }

  .flipper2,
  .flipper3,
  .flipper4,
  .flipper5,
  .flipper6,
  .flipper7,
  .flipper8 {
    top: 1%;
  }

  .box-front h2 {
    font-size: 1.2em;
  }
  .box-front p {
    font-size: 0.8em;
    padding: 15px;
  }
  .box-front .valor {
    font-size: 0.8em;
    margin-bottom: -60px;
  }
  .box-front .preco {
    font-size: 1.2em;
  }

  .box-front .obs {
    font-size: 1em;
  }

  .rodape {
    margin-top: 10px;
  }

  .botaoreserva {
    margin-top: 3%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .containerform {
    height: 250px;
  }

  .formviagem {
    display: block;  
    width: 700px; 
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  input.origem,
  .destino,
  .data {
    display: inline-block;
  }

  .origem,
  .destino,
  #data {
    float: left;
    width: 100px;
    padding: 15px;
    margin-left: 10px;
    border-radius: 50px;
    border-color: rgba(240, 248, 255, 0.39);
    font-weight: bolder;
  }

  .botaoform {
    width: 120px;
  }

  .flip-container,
  .front,
  .back,
  .flip-container2,
  .flip-container3,
  .flip-container4,
  .box {
    margin-top: 10%;
    height: 500px;
    width: 400px;
  }

  .flipper2,
  .flipper3,
  .flipper4 {
    top: 1%;
  }

  .box-front h2 {
    font-size: 1.2em;
  }
  .box-front p {
    font-size: 0.8em;
    padding: 15px;
  }
  .box-front .valor {
    font-size: 0.8em;
    margin-bottom: -50px;
  }
  .box-front .preco {
    font-size: 1.2em;
  }

  .box-front .obs {
    font-size: 1em;
  }

  .botao {
    padding: 25px;
    margin-top: 350px;
    font-size: 1em;
  }
  .rodape {
    margin-top: 10px;
  }
  .botaoreserva {
    margin-top: 2%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1290px) {


  body {
    height: 100vh;
  }

  section.corpo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }

  section.corpo2 {
    margin-top: 650px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }


  .containerform {
    height: 250px;
  }

  .formviagem {
    display: block;  
    width: 700px; 
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  .origem,
  .destino,
  #data {
    float: left;
    width: 100px;
    padding: 15px;
    margin-left: 10px;
    border-radius: 50px;
    border-color: rgba(240, 248, 255, 0.39);
    font-weight: bolder;

  }

  .botaoform {
    width: 120px;
  }

 
  .imgbox,
  .imgbox2,
  .imgbox3,
  .imgbox4,
  .imgbox5,
  .imgbox6,
  .imgbox7,
  .imgbox8 {
    height: 210px;
  }

  .flip-container,
  .front,
  .back,
  .flip-container2,
  .flip-container3,
  .flip-container4,
  .flip-container5,
  .flip-container6,
  .flip-container7,
  .flip-container8 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .break{
    flex-basis: 100%;
    width: 0px;
  }
  
  .flip-container {
    margin-top: 35%;
    margin-right: 0%;
    width: 100%;
    height: 100%;
  }

  .flipper,
  .flipper2,
  .flipper3,
  .flipper4,
  .flipper5,
  .flipper6,
  .flipper7,
  .flipper8 {
    margin-left: 5%;
  }

  .flipper8 {
    margin-right: 5%;
  }

  .box {
    height: 600px;
    width: 100%;
  }

  .box-front h2 {
    font-size: 1.5em;
  }
  .box-front p {
    font-size: 0.8em;
    padding: 10px;
  }
  .box-front .valor {
    font-size: 0.8em;
    margin-bottom: -40px;
  }
  .box-front .preco {
    text-align: center;
    font-size: 1.5em;
  }

  .box-front .obs {
    font-family: "Beach";
    text-align: center;
    font-size: 1em;
  }

  .botao {
    padding: 20px;
    margin-top: 350px;
    font-size: 0.8em;
  }

  .fundo {
    height: 600px;
  }

  .rodape {
    margin-top: 10px;
  }

  .botaoreserva {
    margin-top: 22%;
  }
}

@media screen and (min-width: 1290px) {
  
  body {
    height: 100vh;
  }

  section.corpo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }

  section.corpo2 {
    margin-top: 650px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }

  .imgbox,
  .imgbox2,
  .imgbox3,
  .imgbox4,
  .imgbox5,
  .imgbox6,
  .imgbox7,
  .imgbox8 {
    height: 170px;
  }

  .containerform {
    height: 250px;
  }

  .formviagem {
    display: block;  
    width: 700px; 
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  .origem,
  .destino,
  #data {
    float: left;
    width: 100px;
    padding: 15px;
    margin-left: 10px;
    border-radius: 50px;
    border-color: rgba(240, 248, 255, 0.39);
    font-weight: bolder;

  }

  .botaoform {
    width: 120px;
  }
  .flip-container,
  .front,
  .back,
  .flip-container2,
  .flip-container3,
  .flip-container4,
  .flip-container5,
  .flip-container6,
  .flip-container7,
  .flip-container8 {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }

  .flip-container5{
    flex-basis: 100%;
    height: 0;
  }

  .flip-container {
    margin-top: 6%;
    width: 100%;
    height: 100%;
  }

  .flipper,
  .flipper2,
  .flipper3,
  .flipper4,
  .flipper5,
  .flipper6,
  .flipper7,
  .flipper8 {
    margin-left: 5%;
  }

  .flipper4 {
    margin-right: 0%;
  }

  .box {
    height: 600px;
    width: 100%;
  }

  .box-front h2 {
    font-size: 1.5em;
  }
  .box-front p {
    font-size: 0.8em;
    padding: 10px;
  }
  .box-front .valor {
    font-size: 1em;
    margin-bottom: -30px;
  }
  .box-front .preco {
    text-align: center;
    font-size: 1.8em;
  }

  .box-front .obs {
    font-family: "Beach";
    text-align: center;
    font-size: 1.2em;
  }

  .botao {
    padding: 30px;
    margin-top: 350px;
    font-size: 1em;
  }

  .fundo {
    height: 600px;
  }

  .rodape {
    margin-top: 10px;
  }
  .botaoreserva {
    margin-top: 550px;
  }
}
