@charset "utf-8";

@media screen and (min-height: 844px) and (max-height: 851px) {
  body {
    height: 175vh;
    width: 98vw;
    background-image: linear-gradient(to top, #df6f0e, #f7d0b3e5);
  }

  section {
    height: 148vh;
  }

  ul li {
    width: 115px;
  }
  .flip-container,
  .front,
  .back {
    margin-top: -10px;
  }

  .flip-container2 {
    top: 98%;
  }

  .flip-container3 {
    top: 144%;
  }
}

@media screen and (min-width: 412px) and (max-width: 412px) {
  body {
    height: 175vh;
    width: 98vw;
    background-image: linear-gradient(to top, #df6f0e, #f7d0b3e5);
  }

  section {
    height: 148vh;
  }

  ul li {
    width: 125px;
  }
  .flip-container,
  .front,
  .back {
    margin-top: -10px;
  }

  .flip-container2 {
    top: 97%;
  }

  .flip-container3 {
    top: 145%;
  }
}

@media screen and (min-width: 540px) and (max-width: 912px) {
  body {
    height: 230vh;
    width: 98vw;
    background-image: linear-gradient(to top, #df6f0e, #f7d0b3e5);
  }

  section {
    height: 205vh;
  }

  ul li {
    width: 125px;
  }
  .flip-container,
  .front,
  .back {
    margin-top: 0px;
    height: 450px;
    width: 400px;
  }

  .box {
    height: 450px;
    width: 400px;
  }

  .flip-container2 {
    height: 450px;
    width: 400px;
    top: 120%;
  }

  .flip-container3 {
    height: 450px;
    width: 400px;
    top: 185%;
  }
}
