@charset "utf-8";

@media screen and (min-width: 414px) and (max-width: 768px) {
  nav img {
    margin-left: 10px;
    margin-top: 15px;
    width: 150px;
    height: 80px;
  }

  nav ul li {
    width: 120px;
    padding: 15px;
    font-size: 1em;
  }

  .formviagem {
    display: block;
  }

  input.origem,
  .destino,
  .data {
    display: inline-block;
  }

  .origem,
  .destino,
  #data {
    width: 350px;
  }

  .flip-container,
  .front,
  .back,
  .flip-container2,
  .flip-container3,
  .flip-container4,
  .box {
    margin-top: 10%;
    height: 500px;
    width: 400px;
  }

  .flipper2,
  .flipper3,
  .flipper4 {
    top: 1%;
  }

  .box-front h2 {
    font-size: 1.2em;
  }
  .box-front p {
    font-size: 0.8em;
    padding: 15px;
  }
  .box-front .valor {
    font-size: 0.8em;
    margin-bottom: -60px;
  }
  .box-front .preco {
    font-size: 1.2em;
  }

  .box-front .obs {
    font-size: 1em;
  }

  .rodape {
    margin-top: 10px;
  }

  .botaoreserva {
    margin-top: 3%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  nav img {
    margin-left: 10px;
    margin-top: 15px;
    width: 150px;
    height: 80px;
  }

  nav ul li {
    width: 120px;
    padding: 15px;
    font-size: 1em;
  }

  header img {
    margin-left: 35px;
    margin-top: 15px;
    width: 80px;
    height: 88px;
  }

  ul li {
    width: 185px;
    padding: 15px;
  }

  ul {
    margin-top: -60px;
    margin-right: 10px;
  }

  header h1 {
    margin-top: 20px;
    font-size: 2.5em;
  }

  .containerform {
    background-color: #df6f0e;
    box-shadow: 5px 5px 20px #a9a9ac;
    height: 480px;
    border-radius: 20px;
    margin: 5px;
    margin-top: -80px;
  }

  .formviagem {
    display: block;
  }

  input.origem,
  .destino,
  .data {
    display: inline-block;
  }

  .origem,
  .destino,
  #data {
    width: 450px;
  }

  .flip-container,
  .front,
  .back,
  .flip-container2,
  .flip-container3,
  .flip-container4,
  .box {
    margin-top: 10%;
    height: 500px;
    width: 400px;
  }

  .flipper2,
  .flipper3,
  .flipper4 {
    top: 1%;
  }

  .box-front h2 {
    font-size: 1.2em;
  }
  .box-front p {
    font-size: 0.8em;
    padding: 15px;
  }
  .box-front .valor {
    font-size: 0.8em;
    margin-bottom: -50px;
  }
  .box-front .preco {
    font-size: 1.2em;
  }

  .box-front .obs {
    font-size: 1em;
  }

  .botao {
    padding: 25px;
    margin-top: 350px;
    font-size: 1em;
  }
  .rodape {
    margin-top: 10px;
  }
  .botaoreserva {
    margin-top: 2%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1290px) {
  nav img {
    margin-left: 15px;
    margin-top: 15px;
    width: 180px;
    height: 90px;
  }

  nav ul li {
    width: 120px;
    padding: 15px;
    font-size: 1em;
  }

  body {
    height: 100vh;
  }
  header img {
    margin-left: 40px;
    margin-top: 20px;
    width: 80px;
    height: 88px;
  }

  ul li {
    width: 185px;
    padding: 15px;
  }

  ul {
    margin-top: -60px;
    margin-right: 10px;
  }

  header h1 {
    margin-top: 20px;
    font-size: 2.5em;
  }

  section.corpo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }

  .containerform {
    height: 480px;
    margin-top: -100px;
  }

  .formviagem {
    padding: 10px;
    display: block;
    margin-left: 100px;
  }

  .origem,
  .destino,
  #data {
    float: left;
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
  }

  .formviagem p {
    margin-top: 10px;
  }

  .botaoform {
    margin-top: 18px;
    width: 200px;
  }
  .imgbox,
  .imgbox2,
  .imgbox3,
  .imgbox4 {
    height: 210px;
  }

  .flip-container,
  .front,
  .back,
  .flip-container2,
  .flip-container3,
  .flip-container4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .flip-container {
    margin-top: 35%;
    margin-right: 0%;
    width: 100%;
    height: 100%;
  }

  .flipper,
  .flipper2,
  .flipper3,
  .flipper4 {
    margin-left: 5%;
  }

  .flipper4 {
    margin-right: 5%;
  }

  .box {
    height: 600px;
    width: 100%;
  }

  .box-front h2 {
    font-size: 1.5em;
  }
  .box-front p {
    font-size: 0.8em;
    padding: 10px;
  }
  .box-front .valor {
    font-size: 0.8em;
    margin-bottom: -40px;
  }
  .box-front .preco {
    text-align: center;
    font-size: 1.5em;
  }

  .box-front .obs {
    font-family: "Beach";
    text-align: center;
    font-size: 1em;
  }

  .botao {
    padding: 20px;
    margin-top: 350px;
    font-size: 0.8em;
  }

  .fundo {
    height: 600px;
  }

  .rodape {
    margin-top: 10px;
  }

  .botaoreserva {
    margin-top: 22%;
  }
}

@media screen and (min-width: 1290px) {
  nav img {
    margin-left: 20px;
    width: 200px;
    height: 100px;
  }

  nav ul li {
    width: 120px;
    padding: 15px;
    font-size: 1em;
  }

  body {
    height: 100vh;
  }

  header img {
    margin-left: 40px;
    margin-top: 20px;
    width: 80px;
    height: 88px;
  }

  ul li {
    width: 185px;
    padding: 15px;
  }

  ul {
    margin-top: -60px;
    margin-right: 10px;
  }

  header h1 {
    font-size: 3em;
  }

  section.corpo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }

  .imgbox,
  .imgbox2,
  .imgbox3,
  .imgbox4 {
    height: 170px;
  }

  .containerform {
    height: 480px;
    margin-top: -100px;
  }

  .formviagem {
    padding: 10px;
    display: block;
    margin-left: 60px;
  }

  .origem,
  .destino,
  #data {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
    font-size: 1.2em;
    display: inline-block;
    padding: 18px;
    float: left;
    width: 250px;
    margin-left: 25px;
    margin-top: 20px;
  }

  .formviagem p {
    margin-top: 10px;
  }

  .botaoform {
    margin-top: 18px;
    width: 200px;
  }

  .flip-container,
  .front,
  .back,
  .flip-container2,
  .flip-container3,
  .flip-container4 {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }

  .flip-container {
    margin-top: 6%;
    width: 100%;
    height: 100%;
  }

  .flipper,
  .flipper2,
  .flipper3,
  .flipper4 {
    margin-left: 5%;
  }

  .flipper4 {
    margin-right: 5%;
  }

  .box {
    height: 600px;
    width: 100%;
  }

  .box-front h2 {
    font-size: 1.5em;
  }
  .box-front p {
    font-size: 0.8em;
    padding: 10px;
  }
  .box-front .valor {
    font-size: 1em;
    margin-bottom: -30px;
  }
  .box-front .preco {
    text-align: center;
    font-size: 1.8em;
  }

  .box-front .obs {
    font-family: "Beach";
    text-align: center;
    font-size: 1.2em;
  }

  .botao {
    padding: 30px;
    margin-top: 350px;
    font-size: 1em;
  }

  .fundo {
    height: 600px;
  }

  .rodape {
    margin-top: 10px;
  }
  .botaoreserva {
    margin-top: 550px;
  }
}
